{% extends "base.html" %}

{% block content %}
<div class='row'>
	<div class='col-sm-6 col-sm-offset-3'>
		<h2 class="text-align-center"><strong>Nuestra Historia</strong></h2><hr/>
		<p class="lead text-align-center">Es una historia muy larga! Tienes tiempo? Te quedas un ratico para que te lo contemos?</p>
		<p class="text-align-center">Blah blah blah blah blah blah blah</p>
		<p class="text-align-center">Blah blah blah blah blah blah blah</p>
		<p class="text-align-center">Blah blah blah blah blah blah blah</p>
		<p class="text-align-center">Blah blah blah blah blah blah blah</p>
		<p class="text-align-center">Blah blah blah blah blah blah blah</p>
		<p class="text-align-center">Blah blah blah blah blah blah blah</p>
		<p class="text-align-center">Blah blah blah blah blah blah blah</p>
	</div>
</div>

{% endblock %}